/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
font-size: 1rem;
padding: 0px 7px;
padding-bottom: 10px;
}
/* Home Section */
#home{
    height: 380px;
    padding: 3px 28px;
   
}
#home::before{
   height: 530px;
   
}
#home p{
    font-size: 1.2rem;
}
/* Services Section */
#services{
 flex-direction: column;
}
.services-container h1{
    margin: 30px;
}

#services .box{
    margin: 10px 5px;
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}
#client-section::before{
    height: 500px;
}
#clients img{
    width: 90px;
    
    height: auto;
}
/* Contact Us Section  */
#contact-box form{
    width: 80%;
}
/* Footer  */
footer {
    padding: 15px 20px ;
}
/* Utility classes  */
.h-primary{
    font-size: 40px;
}
.btn{
    font-size: 20px;
    padding: 5px 14px;
}